.header{
    background-color: white;
    .header__nav{
        padding: 2rem;
        .header__list{
            list-style: none;
            .header__item{
                margin: 2rem;
                font-size: 25px;
            }
        }
    }
}
.main{
    background-color: #81B214;
        .main__parrafo {
        font-size: 20px;
        }
}
.section{
    background-color: #81B214;
    margin: 3rem;
    padding: 3rem;
    text-align: center;
    font-size: 20px;
    .section__titulo{
        font-size: 40px;
        margin: 3rem;
        padding: 3rem;
    }
}
.footer{
    background-color: green;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    .footer__titulo{
        font-size: 20px;
    }
}